body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
}

#app{
  width: 100%;
  height: 100%;
}

button:hover {
  cursor: pointer;
}

@font-face {
  font-family: assistant;
  src: url(../assets/fonts/Assistant-VariableFont_wght.ttf);
}
* {
  font-family:assistant;
}